version: '3.1'

services:
  bd:
    image: mysql:5.7
    container_name: bd
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: {{ wordpress_db_name }}
      MYSQL_USER: {{ wordpress_db_username }}
      MYSQL_PASSWORD: {{ wordpress_db_password }}
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - wp
  
  wordpress:
    depends_on:
      - bd
    image: wordpress:{{ container_tag }}
    container_name: wordpress
    restart: unless-stopped
    environment:
      WORDPRESS_DB_HOST: bd
      WORDPRESS_DB_USER: {{ wordpress_username }}
      WORDPRESS_DB_PASSWORD: {{ wordpress_user_password }}
      WORDPRESS_DB_NAME: {{ wordpress_db_name }}
    volumes:
      - wordpress:/var/www/html
    networks:
      - wp
    
  proxy_reverso:
    depends_on:
      - wordpress
    image: nginx:stable-alpine
    container_name: proxy_reverso
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - wordpress:/var/www/html
      - ../nginx-conf:/etc/nginx/conf.d
      - certbot-etc:/etc/letsencrypt
    networks:
      - wp
  
volumes:
  certbot-etc:
  wordpress:
  dbdata:

networks:
  wp:
    driver: bridge