db/
wordpress/
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/variables.tf
terraform/.terraform.tfstate.lock.info
terraform/wordpress-key.pem