server {
  listen 80;
  server_name _;

  location / {
  proxy_pass http://{{ hostvars['MASTER_NODE']['ip_addr']}}:8080/;
  }
}

server {
    listen              443;
    server_name         _;
    return 301 http://$server_name$request_uri;
}